@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888989;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: linear-gradient(180deg, #373e44 -100%, #191b1f 100%);

  border-radius: 10px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888989 #24272c;
}

.custom-scrollbar {
  overflow-y: overlay;
  overflow-x: overlay;
}